:root{
    --yellow: #ffc244;
    --green: #00a082;
    --white: #f1fcfe;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    text-align: center;

}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: var(--yellow);
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    z-index: 10;
}

.header-text{
    margin: 10px 0px 13px 0px; 
    font-size: 23px;  
    text-align: center;
}

nav{
    display: flex;
    padding: 1vh 7vh 0vh 7vh;
    justify-content: space-between;
    align-items: center;
}

.logo svg{
    cursor: pointer;
}

.start-button{
    margin-top: 1.3vh;
    width: 9rem;
    height: 3rem;
    text-decoration: none;
    background-color: var(--green);
    border: none;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    border-radius: 30px;
    font-weight: bold;
}

.start-button:hover{
    background-color: #028971;
    cursor: pointer;
}

/* Section class*/
section{
    display: flex;
    flex-direction: column;
    background-color:  var(--white);
    padding: 0vh 12vh 4vh 12vh;
    align-items: center;
    justify-content: center;
}

.transition{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00a082;
    padding: 52px;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.search-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: none;
}

.text-white-bg{
    background-color: var(--white);
    border-radius: 30px;  
    padding: 2px 4px;  
}

.searchbar{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 16px;
    padding-left: 6px;
    background-color: var(--green);
    width: 22vw;
    height: auto;
}

.flag-icon{
    margin-top: 5px;
    margin-right: 3px;
    
}

.searchbar > input{
    border: none;
    width: 21vw;
    border-bottom-right-radius: 16px ;
    border-top-right-radius: 16px ;
}

section > h1{
    font-size: 36px;
}

.restaurants{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.rest-unit{
    margin: 0 10px;
    margin-bottom: 3vh;
    text-align: center;
    max-width: 300px;
}

.rest-logo img{
    border-radius: 50%;
}

figcaption{
    text-align: center;
    background-color: var(--yellow);
    border-radius: 16px;
    padding: 3px 0px;
    font-weight: 500;
}

.svg::after p{
    background-color: #00a082;
}

figure{
    margin: 16px;
}

.description-text{
    display: flex;
    border-radius: 16px;
    padding: 3px 0px;
    font-weight: 500;
}

.highlight{
    background-color: var(--yellow);
    border-radius: 16px;
    font-weight: 500;
}

.section-yellow{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
    padding: 3vh 12vh 8vh 12vh;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
}

.cities{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 70vw;
    flex-wrap: wrap;
}

.cities > li{
    background-color: var(--white);
    text-decoration: none;
    margin: 0px 10px 7px 0px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    opacity: 0.9;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 5vh 1vh;
    background-color: #1d1d1d;
    color: var(--white);
    font-weight: lighter;
}

table{
    border-spacing: 14px;
    text-align: left;
    padding: 10px 16vw;
}

table > th{
    text-align: left;
}

tr > td{
    opacity: 0.7;
    font-size: 13px;
}

.policy{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 16vw;
    font-weight: 100;
}

/*media queries*/
@media only screen and (max-width:600px){
    .transition{
        background-color: #1d1d1d;
    }
    .header-text{
        font-size: 16px;
        width: 250px;
    }
    .search-tab{
        width: ;
    }
    .searchbar{
        margin-right: 90px;
    }
    .searchbar > input{
        width: 40vw;
    }
}

